@charset "UTF-8";

h1#principal{
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{

}
.importante{
    color: tomato;

}
.destaque{
    background-color: yellow;
}