@charset "UTF-8";

body {
    background-color: rgb(52, 136, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1{
    background-color: rgb(58, 51, 51);
    color: rgb(189, 69, 115);
}
h2{
    color: rgb(207, 196, 196);
}
p{
    text-align: justify;
}
