@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
  
@font-face{
    font-family: "Android" ;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root{ /*: root é a raiz para criação da variável e toda variavel inicia com --*/
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrão: Arial, Verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: "Android", cursive;
}

*{ /* aqui definimos as configurações GLOBAIS para todos os elementos do site. Iniciamos com '*' asteristo e depois definimos as margens*/
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;/*Recuo da primeira linha */
    font-size: 1em;
    line-height: 1em;/*altura entre linhas*/
}

main strong{
    color: var(--cor4);
    font-weight: bold;

}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 6px;

}
main a:hover{
    text-decoration: underline;
    color: var(--cor3)
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top:40px ;
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 40px;
    font-size: 3em;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.671) ;
    
}
header > p {
    font-family: var(--fonte-padrão);
    font-size:1.em ;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(10, 10, 10, 0.808);

}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.685);
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 7px;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor4);
}

main{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
    min-width: 320px;
    max-width: 1000px;

    margin: auto;
    margin-bottom: 30px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor3)
}
main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
}
main h3{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    
}

 main img{

    width: 100%;
}
main img#pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor5);
    color: white;
}